<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GCash Services</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
        <link rel="stylesheet" href="../css/styles.css">
        <script src="../js/index.js"></script>
    </head>


    <body ng-app="myApp">
        <!-- Navigation Bar -->
        <nav class="navbar fixed-top navbar-expand-lg py-3 navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="../images/logo.png" width="150" height="35" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Getting Started</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-white active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Lifestyle Services</a>
                    <a class="dropdown-item active" href="#">Financial Services</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="#">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Promos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Help Center</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="#" id="nav-link-Register"><span>Register</span></a>
                </li>
            </ul>
            </div>
        </nav>


        <!-- All Banks -->
        <section class="allBanks" ng-controller="partnerBanks">
            <div class="container">
                <center><h3 id="partnerBanks">Select Partner Banks</h3></center>
                <center><p class="text-secondary" id="partnerBanks"><b>Skip the long lines and send money to over 40 banks anytime, anywhere.</b></p></center>
                <input class="form-control" type="text" placeholder="Search" ng-model="search">
            </div>
            <br><br>
            <div class="container bankList">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 text-center mb-5" ng-repeat="bank in allBanks | orderBy: 'name' | filter: search">
                        <a href="../html/bankInfo.html">
                            <img ng-src="{{ bank.image }}" ng-style="bank" class="mb-5">
                            <p class="text-primary font-weight-bold bankName"><b>{{ bank.name }}</b></p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>